*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
}
.header{
    background: url("num.jpg") no-repeat center center/cover;
    width: 100%;
    height: 85vh;
    position: absolute;
    filter: contrast(0.4);
    background-attachment: fixed;
}
.random{  
    padding: 30px 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 72vh;
    z-index: 99;
    background: transparent;
    overflow: hidden;
}
.logo{
    display: flex;
    justify-content:space-around;
    text-align: center;
    min-width: 350px;
    padding: 10px;
    color: rgb(85, 10, 16);
    border-radius: 10px;
    z-index: 2;
    font-family: 'Rancho',cursive;
    font-size: 5em;
}
.head-fact{
    min-height: 250px;
    background: darkcyan;
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    z-index: 10;
    color: white;
}
.head-fact p{
    width: 44vw;
    margin: 0 auto;
    background:#fff;
    height: 150px;
    color: black;
    margin-top: 40px;
    padding: 15px;
    position: absolute;
    border-radius: 5px;
    padding-top: 30px;
    font-size: 1.5rem;
    line-height: 1.3;
    box-shadow: 0px 0px 5px 3px darkslategray inset;
}
.tabs{
    width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #38b17e;
    color: rgb(8, 40, 46);
    font-size: 19px;
    box-shadow: 0.5px 0px 2px black inset;
}
.tab{
    padding: 15px;
}
.tab img{
    cursor: pointer;
}
input[type="number"]{
    background: lavender;
    width: 80%;
    height: 50px;
    margin: 15px;
    border-radius: 7px;
    font-size: 1.6em;
    transition: all 0.3s;
    border: 2px solid #DDDDDD;
    outline: none;
}
.active{
    border-bottom: 3px solid black;
    
}
.tab-content{
    padding: 20px 0;
    background: rgb(146, 196, 216);    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 74vh;
}
.share{
    margin-top: 25px;
    display: flex;
    font-size: 2em;
}
.share a{
    text-decoration: none;
}
.sh{
    padding: 3px;
    overflow: hidden;
    border-radius: 3px;
    margin-left: 15px;
}
.t a{
    color: #38A1F3;
}
.f a{
    color: #3b5998;
}
.w a{
    color: #33CC66;
}
.content{
    display: none;
}
input:focus{
    box-shadow: 0 0 5px #555;
    border: 2px solid #555;
    border-radius: 5px;
}
.active-c{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #00887a; 
    width: 450px;
    height: 450px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    transition: all ease;
}
@keyframes move{
    0%{
        transform: rotate3d(1,1,1,360deg);
    }
    25%{
        transform: rotate3d(1,1,1,270deg);
    }
    50%{
        transform: rotate3d(1,1,1,180deg);
    }
    75%{
        transform: rotate3d(1,1,1,90deg);
    }
    100%{
        transform: rotate3d(1,1,1,45deg);
    }
}
.facts{
    background: whitesmoke;
    padding: 20px;
    width: 75%;
    min-height: 50%;
    line-height: 1.5;
    font-size: 1.2rem;
    overflow: hidden;
    border-radius: 5px;
}
.content span{
    padding:0 10px;
    color: aliceblue;
}
.md{
    display: flex;
    width: 80%;
}
#date,#month{
    width: 40%;
}
.footer{
    height: 30px;
    background: rgb(29, 14, 83);
    display: flex;
    justify-content: center;
    padding:5 15px;
    align-items: center;
}
.contact a{
    margin-left: 5vw;
    text-decoration: none;
    color: #DDDDDD;
}
@media screen and (max-width:600px){
    .active-c{
        width: 80%;
    }
    input[type="number"]{
            font-size: 1.1em;
    }  
    .head-fact{
        width: 65vw;
    }
    .head-fact p{
        width: 52vw;
        padding: 10px;
        padding-top: 30px;
        font-size: 1.2rem;
    }
    .logo{
        min-height: 10vh;
        min-width: 250px;
        overflow: hidden;
        top: 0;
        font-size: 3rem;
    }
}